body{
background-image:url(bg.png);
height:100vh;
background-repeat:no-repeat;
background-size:cover; 
background-color:#b3003b; 
color:white;
font-family:Cairo;

}

.logo{
width:70px;
height:auto;
float:left;
}
.nav{
font-weight:700;
display:flex;
justify-content:center;
animation-name:nav
}

.nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.nav:hover::after {
  width: 100%;
}

ul{
list-style:none;
gap:25px;
float:right;
display:flex; 

transition:0.7s;
}
.p-1{
font-size:40px;
font-weight:700;
margin-bottom:10px;
margin-top:200px
}
.p-2{
font-size:20px;
font-weight:400;
width:400px;
}
.p1{
margin-left:50px;
}
.learn-more{
padding:14px;
padding-top:4px;
padding-bottom:4px;
border-radius:45px;
background-color:#cc9666;
font-weight:700;
color:white;
font-size:20px;
font-family:Cairo;
text-decoration-style:none;
}
.learn-more:hover{
cursor:pointer;
background-color:#dfbe9f;
transition:0.5s;
}
ul:hover{
transition:0.7s;
cursor:pointer;
}

.cap-1 {
    width: 500px;       
    height: auto;
    position: absolute; 
    top: 20px;           
    right: 50px;      
    z-index: 999; 
    transition:0.9;        
}


.cap{
display:flex;
justify-content:end;
margin-right:60px;
padding:0px;
}
.half-page{
background-color:#cc9666;
padding:0px;
margin-top:400px;
height:55vh; 
position:relative;
border-radius:7px;
}
.p-3{
font-size:30px;
font-weight:800;
color:#990033;
margin-top:100px;
margin-left:300px;
width:250px;
padding-bottom:0px;
}
.p-4{
font-size:20px;
margin-top:20px;
margin-left:300px;
width:250px;
padding-top:0px;
}
.b-merch{
padding:14px;
padding-top:4px;
padding-bottom:4px;
border-radius:45px;
background-color:#660000;
font-weight:700;
color:white;
font-size:20px;
font-family:Cairo;
text-decoration-style:none;
margin-left:300px;
transition:0.4s;
}
.b-merch:hover{
cursor:pointer;
background-color:#990000;
transition:0.4s;
}

.cla {
  width: 500px;
  height: auto;   
}


.cola-1{
background-color:black;
display:flex;
}  
.cola-2{
display:flex;
flex-direction:column;
}
.p-5{
font-size:30px;
font-weight:800; 
}
.p-6{
font-size:15px; 
align-items:center;
width:300px;    
}
.b-explor{
padding:14px;
color:#660000;
transition:0.4;
font-weight:700;
border-radius:20px;
}
.b-explor:hover{
transition:0.4;
background-color:#fff0b3;
}
hr{
color:white;
}
.logo-2{
width:70px;
height:auto;
margin-bottom:0px;
}
.link{
text-decoration:none;
color:white;
}
span{
font-size:10px;
padding:0px;
}
