body{
background-image:url(bg.png);
height:100vh;
background-repeat:no-repeat;
background-size:cover; 
background-color:#b3003b; 
color:white;
font-family:Cairo;
}

.logo{
width:70px;
height:auto;
float:left;
}
.nav{
font-weight:700;
display:flex;
justify-content:center;
}
ul{
list-style:none;
gap:25px;
float:right;
display:flex; 
border-bottom:3px solid trasparent
transition:0.7s;
}
.p-1{
font-size:40px;
font-weight:700;
margin-bottom:10px;
margin-top:200px
}
.p-2{
font-size:20px;
font-weight:400;
width:400px;
}
.p1{
margin-left:50px;
}
.learn-more{
padding:14px;
padding-top:4px;
padding-bottom:4px;
border-radius:45px;
background-color:#cc9666;
font-weight:600;
color:white;
font-size:20px;
font-family:Cairo;
text-decoration-style:none;
}
.learn-more:hover{
cursor:pointer;
background-color:#dfbe9f;
transition:0.5s;
}
nav:hover{
border-bottom:3px solid white;
transition:0.7s;
cursor:pointer;
}